<div class="container">
  <h3>Items</h3>
  <table class='table'>
    <tr>
      <th>Owner</th>
      <th>Name</th>
      <th>Description</th>
      <th>Sku</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>


    <% _.each(items, function(item) { %>
    <tr data-id="<%= item.id %>" data-model="Item">
    	<td><%= item.ownerName %></td>
    	<td><%= item.name %></td>
    	<td><%= item.description %></td>
      <td><%= item.sku %></td>
      <td><%= item.location %></td>
    	<td><form action="/item/show/<%= item.id %>" method="POST">
        <input type="hidden" name="_method" value="show"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input type="submit" class="btn btn-sm btn-success" value="Show"/>
      </form></td>

      <td><a class="btn btn-medium btn-primary" href="/item/edit/<%= item.id %>">Edit</a></td>

    	<td><form action="/item/destroy/<%= item.id %>" method="POST">
    		<input type="hidden" name="_method" value="delete"/>
    		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
    		<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
    	</form></td>

    </tr>

    <% }) %>
  </table>
</div>