<div class='container'>
	<h1> <%= item.name %> </h1>
	<h3>Owner: <%= item.owner %> </h3>
	<h3>Description: <%= item.description %> </h3>
	<h3>Location: <%= item.location %> </h3>
	<h3>Sku: <%= item.sku %></h3>
	<a class="btn btn-medium btn-primary" href="/item/edit/<%= item.id %>">Edit</a>
<div>