<div class='container'>
	<h1> <%= user.name %> </h1>
	<h3>contact: <%= user.email %> </h3>

	<% if (user.admin) { %>
      <td><img src="/images/checkmark.png"></td>
    <% } else { %>
      <td><img src="/images/xout.png"></td>
    <% } %>

	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
	<a class="btn btn-medium btn-success" href="/item/index/<%= user.id %>">See Inventory</a>
	<a class="btn btn-medium btn-primary" href="/item/new/?owner=<%= user.id %>">Add Item</a>
	<% if (session.authenticated && session.User.admin) { %>
	  <a class="btn btn-medium btn-primary" href="/user/index/">See all users</a>
	<% } %>
<div>